.m-center{
    display: block;
    margin: auto;
}

.bg-p-color{
    background-color: #00D1B1;
}

.bg-s-color{
    background-color: #FF515E;
}

.orgainization__card{
    margin-top: -2rem;
}

.default__img{
    width: 9.5rem;
}