.hero__text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background: rgba(228, 222, 222, 0.8);
    text-align: center;
    padding: 1rem 1rem;
}

.hero__title{
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.problem h2{
    font-size: 1.8rem;
    line-height: 1;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.problem img{
    width: 100%;
}

.solution h2{
    font-size: 1.8rem;
    line-height: 1;
}