.hero__img{
    position: relative;
    background-color: #345794;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

.hero__img-1{
    background-image: url(../img/hero1.svg);
    background-position: top;
}

.hero__img-2{
    background-image: url(../img/hero2.svg);
    background-position: center;
}

.hero__img-3{
    background-image: url(../img/hero3.svg);
    background-position: center;
}

.hero__text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background: rgba(228, 222, 222, 0.8);
    text-align: center;
    padding: 1rem 1rem;
}

.hero__title{
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.problem h2{
    font-size: 1.8rem;
    line-height: 1;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.problem img{
    width: 100%;
}

.solution h2{
    font-size: 1.8rem;
    line-height: 1;
}

.action i{
    font-size: 5rem;
    text-align: center;
    padding: 2rem 0;
    color: #C75C14;
}

.action .card{
    width: 20rem;
    margin: 2rem auto;
}

.action p{
    font-size: 1.4rem;
    line-height: 1.3;
    margin-top: 0;
}

.next-step{
    width: 100%;
}

.next-step__btn{
    width: 100%;
}

@media only screen and (min-width: 700px){
    .hero__img-1{
        background-image: url(../img/hero1-lg.svg);
    }
    
    .hero__img-2{
        background-image: url(../img/hero2-lg.svg);
    }
    
    .hero__img-3{
        background-image: url(../img/hero3-lg.svg);
    }

    .hero__text{
        padding: 2rem;
    }

    .hero__title{
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    .solution h2{
        width: 60%;
        margin: auto;
        font-size: 2rem;
    }

    .next-step{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .next-step__btn{
        width: 12rem;
    }

    
}